{% if cssVersion is not defined %}
    {% set cssVersion = 17 %}
{% endif %}
{% if jsVersion is not defined %}
    {% set jsVersion = 12 %}
{% endif %}
{% if faviconVersion is not defined %}
    {% set faviconVersion = 1 %}
{% endif %}
{% if title is not defined %}
    {% set title = '3. skautský oddíl Kamzíci Doloplazy' %}
{% endif %}
{% if description is not defined %}
    {% set description = '' %}
{% endif %}
{% if bodyClass is not defined %}
    {% set bodyClass = '' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png{{ '?v=' ~ faviconVersion }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png{{ '?v=' ~ faviconVersion }}">
    <link rel="icon" type="image/png" href="/favicon-32x32.png{{ '?v=' ~ faviconVersion }}" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png{{ '?v=' ~ faviconVersion }}" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png{{ '?v=' ~ faviconVersion }}" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png{{ '?v=' ~ faviconVersion }}" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png{{ '?v=' ~ faviconVersion }}" sizes="16x16">
    <link rel="manifest" href="/manifest.json{{ '?v=' ~ faviconVersion }}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg{{ '?v=' ~ faviconVersion }}" color="#000000">
    <meta name="msapplication-TileColor" content="#00bdd4">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png{{ '?v=' ~ faviconVersion }}">
    <meta name="theme-color" content="#ffffff">

    {% block styles %}
        <link rel="stylesheet" href="{{ asset('css/main.min.css') ~ '?v=' ~ cssVersion }}">
    {% endblock %}
</head>
<body{% if bodyClass is not empty %} class="{{ bodyClass }}"{% endif %}>

{% block sublayout %}{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/main.min.js') ~ '?v=' ~ jsVersion }}" defer></script>
{% endblock %}

</body>
</html>
